
@media(max-width:1250px){
  .img-game .img img{
    width: 550px;
   
    }
  .img-game .img {
    width: 100%;
    left: 0%;
   
    }
  .game-section{
    width: 95%;
  }
}


@media(max-width:1190px){
.cont{
  flex-direction: column;
  justify-content: space-evenly;
}
.register div h1 {
  margin-right: 0;
}
.text1 {
  right: 30%;
  top: 40%;
}
#bt{
  right: 32%;
    top: 60%;
}}



@media(max-width:1100px){
  .f-container {
    width: 90%;

    
} 
.img-game .img img{
  width: 500px;
 
  }
.info-games .text-info {
 
 
  padding-left: 50px;
  
  
}
.game-section{
  width: 95%;
}

.wrapper-char-games ul li{
  margin-left: 40px;
}

}

@media(max-width:1050px){
  .logo{
    margin: 0;
  } .scrolling-active .logo img {
    width: 65px;
    margin-right: 0px;
}
}
@media(max-width:1000px){
  li.lslide.active{
    width: 200px !important;
    margin-right: 0px !important;
    margin-left: 0px;
  }
  li.lslide{
    width: 200px !important;
  }
  .img-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 10%;

}
.description{
  margin-left:30px ;
}
.desc-data{
  margin-left: 40px;
}

.img-game .img img{
  width: 100%;
 
  }

 
}

@media(max-width:950px){
  .game-section{
    width: 99%
    }
    .header-wrap{
      padding: 0;
    }
    .v-body {
      height: 374px;
      padding: 10px 10px 0 60px;
  }

  .f-header .nav .nave ul li {
    margin-right: 20px;
  }
  .info-games .text-info{
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 90px;
    
  }
}

@media(max-width:850px){
  .v-footer{
    padding: 30px 30px 0px 20px;
  }
  li.lslide.active {

 width: 310px !important;
   
}
  li.lslide {
    width: 310px !important;
}
.img-wrapper{
width: 100%;
}
.btn-stars .button{
  margin-right: 10%;
}

}









@media(max-width:800px){
  .search-join {
    height: 100%;
    margin-left: -10px;
  }
  
  .search-join .join .btn{
    width: 100px;
    height: 100%;
    background: transparent;
    font-size: 1.2rem;
    border-top-color: transparent ;
    border-bottom-color: transparent ;
    border-radius: 0px;
    
  }
  .search-join .join .btn:hover{
    background: transparent;
    border-color: #9164eb;
    border-top-color: transparent ;
    border-bottom-color: transparent ;
  }

.info-games{
  display: block;
  height: auto;

}
.info-games .text-info{
  width: 100%;
  height: 40%;
  padding-bottom:50px ;
  
}
.info-games .img-game{
width: 98%;
height: 50%;
padding-bottom: 40px;

}
.btn-stars{
  margin-bottom: 0px;
}
.game-news{
  width: 90%;
  margin: 0 auto;
}
.game-news .card-container{
display: flex;
flex-direction: column;
justify-content: space-between;
height: auto;
}

.game-news .card-container .card{
width: 100%;
margin-bottom: 100px;
height: auto;

}
.game-news .card-container .card .c-img{
height: auto;
}

.game-video .v-container{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column-reverse;
}

.game-video .v-container .v-left  {
  width: 100%;


}
.game-video .v-container .v-right  {
  width: 100%;
  height: auto;


}
.game-video .v-container .v-right .v-body  {
  width: 100%;
  padding-top: 50px;
  height: auto;

}
.game-video .v-container .v-right .v-footer  {
  width: 100%;
  padding-left: 50px;
  padding-bottom: 50px;
  height: auto;

}
.game-video .txt{

  margin-top: -120px;
}
}

@media(max-width:700px){
.text1 {
  right: 20%;
  top: 40%;
}
#bt {
  right: 25%;
  top: 60%;
}
.up-logo a img{
  width: 200px;
}
.up-info{
  width: 80%;
}

.search-join .join .btn{
  width: 80px;
  border-right: none;
  font-size: 1rem;
  text-align: center;
}
.container{
  display: flex;
  justify-content: space-between;
}
.logo a picture img {
 
  width: 80px;
}

}
@media(max-width:680px){
  .nave ul li {
    margin-right: 30px;
  } 
  li.lslide.active {
    width: 610px !important;
    

   }
  li.lslide {
    width: 600px !important;
    

   }
   .img-wrapper{
     height: 80%;
   }
   .img-card{
     height: 100% !important;
   }
    
  
   .lSAction > .lSPrev {
    background-position: 0 0;
    left: 1;
    
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.f-c-up{
  display: block;
}
.up-logo{
  width: 100%;
  margin-top: -50px;
  margin-bottom: 30px;
  text-align: center;
}

.up-logo a img{
  width: 300px;
}

.up-info{
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.up-info .f-header{
  margin-bottom: 0px;
}
  .cont div{
    
    width: 90%;
  }



}




@media(max-width:630px){
  
.game-section .game-news{
  width: 100%;
}

.join{
  display: none;
}


.container{
  display: flex;
 

}
.v-body{
  padding-left: 20px;
}
}


@media(max-width:590px){
  .text1 {
    right: 20%;
    top: 40%;
    
  }
  .text1 h2{
    font-size: 3.1rem;
  }
  #bt {
    right: 16%;
    top: 60%;
  }


}





@media(max-width:530px){
  .hide{ /*classe para travar o scroll enquanto o menu responsivo estiver ativo*/
    overflow: hidden;
  }
  
#btn-mobile{
  display: block;
}
#menu{
  display: block;
  position: absolute;
  width: 100%;
  right: 0px;
  height: 0%;
  background-color: rgba(24, 23, 40, 0.8);
  z-index: 99999;
  transition: .6s;
  visibility: hidden;
  overflow-y: hidden;
  top: 100%;
}

#menu li{
  padding: 1rem 0;
  margin: 0 1rem;
  
}

#nav.active #menu{
 
  top: 55px;
  background:var(--baground);
    height:calc(100vh - 5px) ;
    visibility: visible;
    overflow-y: auto;
   
   
}


#nav.active2 #menu{
  visibility: visible;
  top: 140px;
  overflow-y: auto;  height:calc(100vh - 61.59px) ;
  
}
#nav.active #menu li {
  font-size: 50px;
  border-bottom: solid 2px rgba(121, 121, 121, 0.213);
 
}
#nav #menu li {
  font-size: 50px;
  border-bottom: solid 2px rgba(121, 121, 121, 0.213);
 
}

#nav.active .nave{
  margin-left: 0px;
}
header{
  border-bottom-color:transparent;
}

#btn-mobile{
  display: flex;
  padding: .5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  gap: 1rem;
}
#hamburger{
  border-top: 2px solid currentColor; /*current color atribui a este elemento o valor anterior dado pela cascata*/
  width: 20px;
  color: currentColor;
display: block;
}
#hamburger::after, #hamburger::before{
  content: '';
  display: block;
  height: 2px;
  width: 20px;
margin-top: 5px;
  background-color: currentColor;
  transition: .3s;
  position: relative;
}

#nav.active #hamburger,#nav.active2 #hamburger {

  border-top: transparent;
}
#nav.active #hamburger::before,#nav.active2 #hamburger::before{
  transform: rotate(135deg);
}
#nav.active #hamburger::after,#nav.active2 #hamburger::after{
transform: rotate(-135deg);
top: -7px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-join{
  display: flex;
}
.join{
  display: flex;
  align-items: center;
}
.search-join .join .btn{
  display: block;
  height: 40px;
  align-items: center;
  width: 160px;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border-style: double;
  border-color: #7367af;
  font-family:"Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
}
.search-join .join .btn:hover{
  
  border-color: var(--color-hover);
  background-color: var(--color-hover);
}

}

@media(max-width:500px){
.text1 h2{
  transform: translateX(0);
 
}
.text1 {
 
  right: 11%;
}
#bt{
  right: 0%;
}
}

@media(max-width:480px){
  
 .hide{
   overflow-y: hidden;
 }
   
}



@media(max-width:430px){
  .toTop{
    width: 40px;
    height: 40px;
    
  }
  .toTop i {
    margin-top: 10px;
  }
  .f-header .nav .nave ul li {
    margin-right: 10px;
  }
}

.img-wrapper{
  width: 100%;

}
.xtest{

  width: 95%;
  left: 100%;
  
}
.game-section{
  overflow-x: hidden;
}

.msg-span h2{
  font-size: 2rem;
}
.owl-theme .owl-dots{
  display: none;
}

@media(max-width:380px){

  .input{
    padding-left: 10px;
    width: 100%;
  }
 
  .icon{
    right: 2%;
   
   
  }
  .up-info .f-header {

    margin-bottom: 0px;
    width: 100%;

 
    
}
.nave ul{
   flex-wrap: wrap;  
  border-bottom: 2px solid rgba(106, 106, 106, 0.323);


}
 .nave ul li{
    margin-bottom: 22px;
    margin-left: 5px;
     
  
}

.search-join .join .btn{
  width: 80%;
}
}
@media(max-width:350px){
  .text1{
    right: 5%;
  }
}
@media(max-width:330px){
  .text1{
   
    left: 12%;
  }
  .text1 h2{
   
    font-size: 2.5rem;
  }
  .button{
    width: 150px;
    margin-right: 100px;
  }
  .up-logo a img{
    width: 200px;
    margin-bottom: 20px;
  }
  .container{
    justify-content: space-between;
  }
  .join{
    margin-right: -10px;
  }
}


@media(max-width:300px){
  .text1{
   
    left: 15%;
  }
  .text1 h2{
   
    font-size: 2rem;
  }
  .button{
    width: 110px;
    margin-right: 90px;
  }
  .logo a picture img{
    width: 50px;
  }
  .img-card{
    width: 100%;
  }
  .img-wrapper{
    width: 250px;
  }
}


