.fund{
  position: relative;
  z-index: -1;

}
.filter{
  filter: brightness(70%);

  
}

.owl-nav{
  display: none;
}

.owl-theme .owl-dots  {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 50%;
  margin-left: 5px;

  
}
.owl-theme .owl-dots button{ 
  margin: 10px;
} 




.owl-theme .owl-dots .owl-dot span{
   margin-top: 20px;
   background-color: transparent;
   
   
}

.owl-theme .owl-dots .owl-dot span::after{
  background-color: rgba(0, 255, 0, 0);
  content: 'Xx';
  border-radius: 100%;
  font-size: 20px;
  border:solid 2px;
  padding: 80%;
  transition-duration: 0.5s;
 
}


.owl-theme .owl-dots .owl-dot span:hover::after{
  background-color: rgba(0, 255, 0, 0);
  content: 'Xx';
  border-radius: 10%;
  font-size: 20px;
  border:solid 2px;
  padding: 80%;
  margin-top: 50px;
  color: tomato;
  margin-top: 50px;
  }



/*qunado a pagina esta ativa*/




.owl-theme .owl-dots .owl-dot span{
content: 'OLA';
background-color: transparent;
}

/*imagem do*/
.owl-carousel .owl-item img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  
}
